@model Employeewithef.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details Department</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.deptname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deptname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.deptid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
